<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
     <script src="https://kit.fontawesome.com/4ca4a26284.js" crossorigin="anonymous"></script>
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="/style.css"> --}}
</head>
<body>
 <nav>
        <div class="navItems">

        <div class="logo">
           <a href="/"> Logo Here  </a> 
        </div>
        <ul>
     {{!-- <li>
        <a href="/register">
        <button>
            Sign Up
        </button></a>
     </li> --}}
      <li>
        <a href="/login">
        <button>
            Login
        </button></a>
     </li>


       
        </ul>
        </div>
    </nav>




    {{!-- <h1>Checking Routes and links</h1> --}}
   
    {{!-- <a href="/login">Go to Login</a> --}}
    {{!-- <a href="/">Go to home</a> --}}



    <style>
        *{
            margin: 0;
            padding: 0;
        }
        h1{
            text-align: center;
        }
        nav{
    background: rgb(68, 68, 255);
    
}
.logo a{
    color: white;
    font-size: 1.5rem;
}
.errorM{
    color: red;
    width: 100%;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    letter-spacing: 5px;
    animation-name: errorMessageAnimation;
    animation-duration: .5s;
    
}
@keyframes errorMessageAnimation
 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
}
.navItems{


    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 98%;
    align-items: center;
    height: 5rem;

}
li a button{
    height: 2.8rem;
    width: 8rem;
    background: rgb(255, 55, 88);
    border: none;
    border-radius: 5px;
    padding: .5rem;
   color: white;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    
}
.navItems ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.contact2 {
    
    width: 100%;
   height: 87vh;
    display: flex;
    justify-content: center;
    background: rgba(246, 246, 246, 0.955);
    /* filter: blur(5px); */
    /* align-items: center; */
}
.title{
    font-size: 35px;
    font-weight: 900;
    width: 100%;
    color: #ff4800;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}
.contact2 form{
    width: 90%;
  
}
.contact2 form div {
 
  height: 90%;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
 gap: 50px;
  align-items: center;
   width: 60%;
   margin: auto;

}

.contact2 form div>p {
    /* margin: auto; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;




}

.contact2 form .data1 {
    padding: 10px 10px;
    pointer-events: none;
    position: absolute;
    /* gap: 1rem; */
    left: 30%;
    /* top: 20%; */
    margin-top: .3rem;
    font-weight: bold;
    transition: .2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.7;
    background: rgba(246, 246, 246, 0.955);
    /* background: none; */
    border: none;

}

.contact2 form .data2 {
    padding: 10px 10px;
    pointer-events: none;
    position: absolute;
    left: 54.5%;
    margin-top: .3rem;
    transition: .2s;
    font-weight: bold;
    /* transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); */
    opacity: 0.7;
    background: rgba(246, 246, 246, 0.955);
    /* background: none; */
    border: none;

}

/* .contact2>label>p:nth-child(even) {
    margin-left: 5rem;
} */

.contact2 form label i {
    padding-right: .5rem;
}

.contact2 form>div>p>input {
    padding: 20px 30px;
  border-radius: 20px;
  border: none;
   background: rgba(246, 246, 246, 0.955);
    box-shadow: 10px 10px 10px -1px rgb(198, 198, 198),-10px -10px 10px -1px rgb(255, 255, 255);
    /* gap: 4rem; */

}
.contact2 form>div>input:valid{
    background: none;
}

.contact2 form input:focus+label,
input:not(:placeholder-shown)+label {
    opacity: 1;
    transform: scale(0.75) translateY(-90%) translateX(-5px);

}

.contact2 form input:valid+label,
input:not(:placeholder-shown)+label {
    opacity: 1;
    transform: scale(0.75) translateY(-90%) translateX(-5px);

}
button[type="submit"]{
    background: #ff4800;
    width: 75%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -1px rgba(62, 62, 62, 0.4),-10px -10px 10px -1px rgb(255, 255, 255);

    height: 4rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
form div>p:last-child{
    display: flex;
    justify-content: flex-start;
    width: 65%;
font-weight: bold;
color: rgb(37, 37, 37);
}
a{
    color: #ff4800;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}






 </style>

    <div class="contact2">
            <form action="/auth/register" method="post">
              {{#if message}}
               {{/if}}
             <p class="title"> Create an Account</p>
             <p class="errorM">{{message}}</p>
                <div>
                    <p>
                        <input placeholder=" " required type="text" name="fname" autocomplete="off">
                        <label class="data1"><i class="fas fa-user"></i>&nbsp; First Name</label>

                        <input placeholder=" " required type="text" name="lname" autocomplete="off">
                        <label class="data2"><i class="fas fa-user"></i> &nbsp;Last Name</label>
                    </p>
                    <p>
                        <input placeholder=" " required type="email" name="email" autocomplete="off">
                        <label class="data1"><i class="fas fa-envelope"></i>
                         &nbsp;   Email
                        </label>

                        <input placeholder=" " required type="number" name="phoneNumber" autocomplete="off">
                        <label class="data2"><i class="fas fa-phone"></i>
                          &nbsp;  Phone Number
                        </label>
                    </p>
                    <p>
                        <input placeholder=" " required type="password" name="password" autocomplete="off">
                        <label class="data1"><i class="fas fa-key "></i>
                          &nbsp;  Password
                        </label>

                        <input placeholder=" " required type="password" name="confirmPassword" autocomplete="off">
                        <label class="data2"><i class="fas fa-lock "></i>
                       &nbsp; Confirm Password
                        </label>
                    </p>
                
                 <p class="noAcc"><button type="submit">Sign Up</button></p>
                    
                <p class="already">Already have  an account ? &nbsp;<a href="/login">Login Here</a> </p>
                </div>
            </form>

        </div>
<script src="/js/all.js"></script>
</body>
</html>